
@import "../utilities/mediaquerys";

.banner{
    width: 100%;
    height: 22rem;
    @include telefono{
        width: 100%;
        height: 7rem;
    }
    @include computadora{
        height: 25rem;
    }
}