@import "../utilities/mediaquerys";

header{
    height: 25vh;
}

.navBar{
    height: 25vh;
    background-color: white !important;
    box-shadow: 1px 1px 3px #999;
    position: fixed;
    z-index: 50;
    width: 100%;
    @include telefono{
        width: 375px;
    }
}

.navbar-collapse{
    @include telefono{
        background-color: white !important;
        width: 200%;
        margin-left: -0.72rem;
    }
}

.contenedorBarra{
    margin-top: 1rem;
}

.linkNav{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(0, 95, 164);
}

.linkNav:hover{
    color: black;
}

.subLinkNav{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 95, 164);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 95, 164);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

.navbar-toggler{
    margin-bottom: 0.5rem;
}

.nav-link{
    margin-left: 1rem;
}